body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle,
.square,
.rectangle {
    height: 150px;
    width: 150px;
}

.circle {
    background-color: hotpink;
    border-radius: 50%;
}

.square {
    background-color: red;
}

.rectangle {
    background-color: skyblue;
    height: 50px;
}
